img{
    width: 100%;
    height: 100%;
}
.row{
    height: 500px;
    display: flex;
    gap:5px;
    margin-bottom: 5px;
}
.row > div{
    flex: 1;
}
.vertical-collage img{
    height: calc( () )
}
.square-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}